.button {
  border: none;
  background-color: transparent;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 26px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 35px;
  padding-right: 35px;
}

.button--form {
  box-sizing: border-box;
  border: none;
  background-color: #2aab6d;
  border-radius: 2px;
  width: 280px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 23px;
}
