.contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.contacts-list__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  margin-top: 37px;
  margin-bottom: 5px;
}

.contacts-list__style {
  text-decoration: none;
  font-size: 24px;
  font-weight: 200;
  line-height: auto;
  color: #d22856;
}

.contacts-list__title--mod {
  margin-top: 18px;
  margin-left: 2px;
}

.contacts-list__title--mod-2 {
  margin-top: 22px;
  margin-bottom: 2px;
}

.contacts-list__email {
  margin-left: 2px;
}

.contacts-list__text {
  line-height: 30px;
  margin: 0;
}

@media (min-width: @tablet) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts-list__title {
    margin: 0;
    margin-top: 43px;
    margin-left: 28px;
    margin-bottom: 10px;
  }

  .contacts-list__title--mod {
    margin-top: 43px;
    margin-left: 50px;
  }

  .contacts-list__style {
    margin-left: 8px;
  }

  .contacts-list__email {
    margin-left: 45px;
  }

  .contacts-list__tel {
    margin-left: 18px;
  }

  .contacts-list__text {
    width: 215px;
    margin-left: -2px;
  }

  .contacts-list__title--mod-2 {
    margin-left: 5px;
    margin-bottom: 7px;
  }
}

@media (min-width: @desktop) {
  .contacts-list {
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 30px;
    margin-top: 21px;
    align-items: baseline;
  }

  .contacts-list__title {
    margin-bottom: 26px;
  }

  .contacts-list__item--order-1 {
    order: 1;
  }

  .contacts-list__item--order-2 {
    order: 3;
  }

  .contacts-list__item--order-3 {
    padding-left: 60px;
    order: 2;
  }

  .contacts-list__tel {
    margin-left: 22px;
  }

  .contacts-list__title--mod-2 {
    margin-bottom: 23px;
  }
}
