.copyright {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  margin-right: 13px;
}

.copyright__img {
  margin-top: -5px;

  &:hover {
    fill: #283645;
    transition: 0.2s;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

@media (min-width: @tablet) {
  .copyright {
    margin-top: 50px;
  }
}

@media (min-width: @desktop) {
  .copyright__text {
    font-size: 18px;
  }
}
