.form-rexteria__text {
  box-sizing: border-box;
  width: 280px;
  border: 2px solid  #ededed;
  resize: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 10px;
}

.form-rexteria {
  margin: 0;
  padding: 0;
  text-align: center;
}

.form-rexteria__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  padding-bottom: 10px;
}
