.intro {
  padding-top: 403px;
}

.intro__wrap {
  margin-top: -6px;
  background-color: #1d2631;
}

.intro__applications {
  margin-left: 31px;
  margin-top: 29px;
  margin-bottom: 23px;
}

.intro__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  padding-bottom: 28px;
}

.intro__title {
  display: none;
}

.intro__hend {
  width: 258px;
  height: 286px;
  margin: 0 auto;
}

.intro--hand::before {
  content: "";
  position: absolute;
  width: 258px;
  height: 286px;
  top: -286px;
  left: -1px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 258px 286px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    box-sizing: 258px auto;
  }
}

@media (min-width: @tablet) {
  .intro {
    width: 660px;
    margin: 0 auto;
    padding-top: 98px;
    padding-bottom: 117px;
  }

  .intro--hand::before {
    content: "";
    position: absolute;
    width: 660px;
    height: 546px;
    top: -18px;
    left: -48px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px 546px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px 546px;
      box-sizing: 660px auto;
    }
  }

  .intro__hend {
    width: 660px;
    height: 546px;
    margin: 0 auto;
  }

  .intro__wrap {
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 44px;
  }

  .intro__title {
    width: 210px;
    display: block;
    font-size: 40px;
    line-height: 47px;
    font-weight: 200;
    color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .intro__applications {
    position: relative;
    top: 20px;
    right: 35px;
  }

  .intro__text {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    right: 45px;
    top: 32px;
  }
}

@media (min-width: @desktop) {
  .intro--hand {
    margin-left: 135px;
  }

  .intro--hand::before {
    content: "";
    position: absolute;
    width: 800px;
    height: 645px;
    top: 6px;
    left: 138px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .intro {
    width: 1200px;
    margin: 0 auto;
    padding-top: 98px;
    padding-bottom: 148px;
  }

  .intro__title {
    width: 250px;
    display: block;
    font-size: 50px;
    line-height: 58px;
    font-weight: 200;
    color: #ffffff;
    padding: 0;
    padding-top: 17px;
    margin: 0;
    text-align: center;
  }

  .intro__wrap {
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 0;
  }

  .intro__applications {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 23px;
  }

  .intro__text {
    font-size: 18px;
    line-height: 24px;
    position: relative;
    right: 45px;
    left: -25px;
    top: 53px;
  }
}
