.main-nav {
  position: relative;
}

.main-nav__toggle {
  display: block;
  position: relative;
  border: none;
  outline: none;
  top: 0;
  right: 0;
  width: 200px;
  min-height: 66px;
  padding: 0;
  background-color: transparent;
  z-index: 20;
}

.main-nav__wrapper-menu {
  position: absolute;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}

.main-nav__toggle-menu-open {
  position: absolute;
  left: 230px;
  top: 20px;
  fill: #ffffff;
}

.main-nav__toggle-menu-open:hover {
  fill: #d22856;
}

.main-nav__toggle-menu-open:active {
  fill: #d22856;
  opacity: 0.3;
}

.main-nav__toggle-menu-cross {
  position: absolute;
  left: 255px;
  top: 20px;
  fill: #ffffff;
}

.main-nav__toggle-menu-cross:hover {
  fill: #d22856;
}

.main-nav__toggle-menu-cross:active {
  fill: #d22856;
  opacity: 0.3;
}

.main-nav__wrapper {
  position: relative;

  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__img {
  position: absolute;
  top: 20px;
  z-index: 20;
}

.main-nav__wrapper--closed {
  display: none;
}

.main-nav__wrapper--opened {
  display: block;
}

.main-nav__toggle--closed {
  display: none;
}

.main-nav__wrapper--nojs {
  display: block;
}

.main-nav__toggle--nojs {
  display: none;
}
@media (min-width: @tablet) {
  .main-nav__wrapper  {
   min-height: 110px;
  }

  .main-nav__img {
    top: 25px;
  }

  .main-nav__toggle-menu-open {
    left: 570px;
    top: 45px;
  }
}

