.main-nav {
  position: relative;
}

.main-nav__toggle {
  display: block;
  position: relative;
  border: none;
  outline: none;
  top: 0;
  right: 0;
  width: 200px;
  min-height: 66px;
  padding: 0;
  background-color: transparent;
  z-index: 20;
}

.main-nav__wrapper-menu {
  position: absolute;
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 10;
}

.main-nav__toggle-menu-open {
  position: absolute;
  left: 230px;
  top: 20px;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
    transition: 0.2s;
  }
}

.main-nav__toggle-menu-open:active {
  fill: #d22856;
  opacity: 0.3;
}

.main-nav__toggle-menu-cross {
  position: absolute;
  left: 255px;
  top: 20px;
  fill: #ffffff;
}

.main-nav__toggle-menu-cross:hover {
  fill: #d22856;
}

.main-nav__toggle-menu-cross:active {
  fill: #d22856;
  opacity: 0.3;
}

.main-nav__wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__img {
  position: absolute;
  top: 5px;
  left: -50px;
  z-index: 60;

  &:hover {
    fill: #d22856;
    transition: 0.2s;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.main-nav__wrapper--closed {
  display: none;
}

.main-nav__wrapper--opened {
  display: block;
}

.main-nav__toggle--closed {
  display: none;
}

.main-nav__wrapper--nojs {
  display: block;
}

.main-nav__toggle--nojs {
  display: none;
}

.main-nav__img-glasses {
  display: none;
}

.main-nav__img-desktop {
  display: none;
}

@media (min-width: @tablet) {
  .main-nav__wrapper {
    min-height: 110px;
  }

  .main-nav__img {
    top: 26px;
    left: 20px;
  }

  .main-nav__toggle-menu-open {
    left: 570px;
    top: 45px;
  }

  .main-nav__img-glasses {
    display: block;

    &:hover {
      fill: #d22856;
      transition: 0.2s;
    }

    &:active {
      fill: #ffffff;
      opacity: 0.3;
    }
  }

  .main-nav__toggle-menu-cross {
    left: 600px;
    top: 45px;
  }
}

@media (min-width: @desktop) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__toggle-menu-open {
    display: none;
  }

  .main-nav__toggle-menu-cross {
    display: none;
  }

  .main-nav__wrapper-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0;
    top: 0;
  }

  .main-nav__img {
    display: none;
  }

  .main-nav__img-glasses {
    display: none;
  }

  .main-nav__img-desktop {
    display: block;
    position: absolute;
    top: 26px;
    left: 0;

    &:hover {
      fill: #d22856;
      transition: 0.2s;
    }

    &:active {
      fill: #ffffff;
      opacity: 0.3;
    }
  }
}
