.page-main__wrap {
  width: 250px;
  text-align: center;
  color: #283645;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 49px;
}

.page-main__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.page-main__wrap-form {
  text-align: center;
}

.page-main__wrap-form .page-main__title {
  margin: 0;
  margin-top: 45px;
}
.page-main__title-mod {
  display: none;
}

@media (min-width: @tablet) {
  .page-main__title {
    font-size: 18px;
  }

  .page-main__wrap {
    width: 500px;
    margin-top: 91px;
    margin-bottom: 75px;
  }

 .page-main__title-mod{
      display: inline;
  }

  .page-main__title {
    width: 500px;
    padding-left: 60px;
  }

  .page-main__wrap-form {
    margin-top: 93px;
    margin-bottom: 37px;
  }

}
@media (min-width: @desktop) {
  .page-main__title__mod {
    display: inline;
  }

   .page-main__wrap {
    width: 801px;
    margin-bottom: 90px;
   }

   .page-main__title {
    width: 600px;
    padding-left: 100px;
  }

  .page-main__title-desktop {
    width: 790px;
    padding-left: 75px;
  }
}
