.page-header {
  width: 100%;
  background-color: #1d2631;
  min-height: 236px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__mod {
  min-height: 236px;
}

.page-header__title {
  text-align: center;
  width: 182px;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 200;
  color: #ffffff;
}

.page-header__title--form {
  width: 280px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
}

@media (min-width: @tablet) {
  .page-header {
    min-height: 438px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      box-sizing: 1200px auto;
    }
  }

  .page-header__title {
    text-align: center;
    width: 410px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 140px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 200;
    color: #ffffff;
  }

  .page-header__title--form {
    width: 500px;
    padding-bottom: 80px;
  }
}

@media (min-width: @desktop) {
  .page-header {
    min-height: 353px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: top center;
      background-size: 2560px 873px;
    }
  }

  .page-header__title {
    padding-top: 62px;
    padding-bottom: 102px;
  }

  .page-header__title--form {
    width: 820px;
  }
}
