.page-header {
  min-height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.page-header__mod {
  min-height: 236px;
}

.page-header__title {
  text-align: center;
  width: 182px;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 200;
  color: #ffffff;
}

.page-header__title--form {
  width: 280px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 200;
}
