.panorama__image {
  width: 100%;
  margin: 0 auto;
}

.panorama__user-box {
  margin-top: -7px;
}

.panorama {
  margin-bottom: 20px;
}

@media (min-width: @tablet) {
  .panorama__image {
    height: 509px;
  }

  .panorama {
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop) {
  .panorama__image {
    height: 506px;
  }

  .panorama {
    margin-bottom: 54px;
  }
}
