.photo-lab__text {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  margin-top: 43px;
  margin-left: -2px;
  margin-bottom: 42px;
}

.photo-lab__form-wrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 20px;
}

.photo-lab__list {
  box-sizing: border-box;
  align-items: center;
  width: 280px;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-lab__icon {
  opacity: 0.3;
}

.photo-lab__icon:hover {
  opacity: 0.5;
}

.photo-lab__icon--active {
  fill: #d22856;
}

.photo-lab__item__mod {
  display: flex;
  flex-direction: column;
}

.photo-lab__item-button {
  width: 200px;
}

.photo-lab__crop {
  margin-left: 35px;
}

.photo-lab__contrast {
  margin-right: 45px;
}

.photo-lab__button-wrap {
  width: 260px;
  margin-left: -3px;
  margin-top: 38px;
  padding-bottom: 42px;
}

.photo-lab__item-controls {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

.photo-lab__item-element {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

@media (min-width: @tablet) {
  .photo-lab__item-element {
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
  }

  .photo-lab__form-wrapper {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .photo-lab__text {
    font-size: 18px;
    margin-bottom: 68px;
  }

  .photo-lab__list {
    width: 300px;
    height: 200px;
    display: flex;
    margin-left: 42px;
    margin-top: 0;
  }

  .photo-lab__item {
    position: relative;
    width: 275px;
    display: flex;

    border-bottom: 1px solid #dddfe0;
  }

  .photo-lab__item-controls {
    margin: 0;
    padding: 0;
  }

  .photo-lab__form-container {
    display: flex;
  }

  .photo-lab__crop {
    width: 24px;
    height: 25px;
    margin-left: 7px;
    margin-bottom: 20px;
  }

  .photo-lab__fill {
    width: 26px;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .photo-lab__contrast {
    width: 16px;
    margin-bottom: 19px;
    margin-left: 10px;
  }

  .photo-lab__img {
    width: 300px;
    height: 400px;
  }

  .photo-lab__button-wrap {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .photo-lab__item__mod {
    display: block;
  }

  .photo-lab__item-wrap {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
    opacity: 1;
  }

  .photo-lab__icon {
    margin-right: 0;
  }

  .photo-lab__item-button {
    border-bottom: none;
    margin-top: 28px;
    padding-left: 10px;
  }
}

@media (min-width: @desktop) {
  .photo-lab__text {
    font-size: 18px;
    margin-bottom: 67px;
    margin-top: 5px;
  }

  .photo-lab__item-button {
    width: 410px;
    margin-top: 108px;
    padding-left: 0;
    border-bottom: none;
  }

  .photo-lab__button-wrap {
    width: 410px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    border-bottom: none;
  }

  .photo-lab__list {
    margin-left: 95px;
    width: 370px;
  }

  .photo-lab__item {
    width: 410px;
    display: flex;
  }

  .photo-lab__crop {
    width: 55px;
    height: 55px;
    margin-left: 10px;
    position: relative;
    top: -8px;
    left: -18px;
    margin-bottom: 0;
  }

  .photo-lab__contrast {
    width: 38px;
    height: 38px;
    margin-left: 20px;
    position: relative;
    top: -10px;
    left: -20px;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .photo-lab__fill {
    width: 55px;
    height: 55px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    left: -15px;
  }

  .photo-lab__form-container {
    width: 782px;
    padding: 0;
  }

  .photo-lab__form-wrapper {
    margin-bottom: 70px;
  }

  .photo-lab__item-element {
    border: 0;
    padding: 0;
    width: 55px;
    height: 55px;
  }
}
