.photo-lab__text {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  margin-top: 43px;
  margin-left: -2px;
  margin-bottom: 42px;
}

.photo-lab__form-wrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 20px;
}

.photo-lab__list {
  box-sizing: border-box;
  align-items: center;
  width: 199px;
  padding: 0;
  margin: 0;
  margin-left: 33px;
  margin-top: 35px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.photo-lab__icon {
  opacity: 0.3;
}

.photo-lab__icon:hover {
  opacity: 0.5;
}

.photo-lab__icon--active {
  fill: #d22856;
}
