.reviews {
  position: relative;
  margin-bottom: 88px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.reviews__title {
  margin: 0;
  margin-top: 43px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #797f86;
}
