.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: #283645;
  border-bottom: 1px solid #010101;
  border-top: 1px solid #485461;
  padding-top: 17px;
  padding-bottom: 13px;
}

.site-list__item--head {
  padding: 0;
  height: 64px;
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
