.user-sorting {
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
}
@media (min-width: @tablet) {
  .user-sorting {
    width: 620px;
    padding-bottom: 40px;
    margin-bottom: 55px;
  }
  .user-sorting__conteiner {
    width: 616px;
    padding: 0;
    margin: 0 auto;
  }
  .user-sorting__title {
    width: 436px;
  }
}
@media (min-width: @desktop) {
  .user-sorting{
    width: 940px;
    margin: 0 auto;
    padding-left:60px;
    padding-right: 60px;
    box-sizing: border-box;

  }
  .user-sorting__conteiner {

    width: 0;
    padding: 0;
    margin: 0 ;
  }
}
