.user-application__wrapper {
  background-color: #f2f2f2;
}
@media (min-width: @tablet) {
  .user-application__wrapper {
    order: 2;
  }
  .user-application__wrapper {
    background-color: transparent;
  }
  .user-application__conteiner {
    width:616px;
    padding: 0;
  }
  .user-application__tite {
    padding-left: 10px;
    padding-right: 10px;
  }
}
